<link href="asset/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="dist/css/adminlte.min.css">

<div class="d-flex justify-content-center align-items-center h-100">
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-danger">500</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Oops! Quelque chose s'est mal passé.</h3>

                <p>
                    Nous allons travailler à résoudre ce problème immédiatement. En attendant, vous pouvez <a
                        href="/">retout dans la page d'accueil</a>
                </p>

            </div>
        </div>
        <!-- /.error-page -->

    </section>
    <!-- /.content -->
</div>