<%- include('header.ejs') %>

<div class="container mt-4">
    <h1>À Propos de Mongoose Inc</h1>
    <p>Mongoose Inc est une entreprise spécialisée dans la gestion des offres d'emploi, offrant des solutions complètes pour les recruteurs et les demandeurs d'emploi. Notre objectif principal est de faciliter le processus de recrutement en connectant les meilleurs talents aux meilleures opportunités.</p>
    
    <h2>Notre Mission</h2>
    <p>Notre mission est de créer un environnement en ligne convivial qui permet aux entreprises de trouver les candidats les plus qualifiés et aux chercheurs d'emploi de trouver les emplois qui correspondent à leurs compétences et à leurs aspirations. Nous sommes déterminés à simplifier le processus de recrutement pour tous les acteurs impliqués.</p>

    <h2>Nos Services</h2>
    <p>Nos services comprennent la publication d'offres d'emploi, la gestion de candidatures, la mise en relation avec des recruteurs de confiance, et le suivi des candidats tout au long du processus de recrutement. Nous offrons également des outils analytiques pour aider les entreprises à optimiser leur processus de recrutement.</p>

    <h2>Contactez-Nous</h2>
    <p>Si vous avez des questions sur nos services ou si vous souhaitez en savoir plus sur la manière dont Mongoose Inc peut vous aider, n'hésitez pas à nous contacter. Nous sommes là pour vous aider à réussir.</p>

</div>
<%- include('footer.ejs') %>