<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Emplois</title>
  <link href="/asset/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container-fuide position-relative" style="height: 70px; z-index: 6;">
    <nav
      class="navbar col-12 navbar-expand-md navbar-light border-solid justify-content-space-bettewen align-items-center border-bottom px-3 position-fixed bg-light">
      <a href="/" class="nav-link fs-3 fw-light text-primary">Emplois</a>
      <div class="collapse navbar-collapse" id="navbarcollapse">
        <ul class="nav col-12 justify-content-center fs-6 text-dark">
          <li class="nav-item"><a class="nav-link" href="#">Acceuil</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Post d'Emplois</a></li>
          <li class="nav-item"><a class="nav-link" href="#">A propos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Feedbacks</a></li>
        </ul>
      </div>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary">Inscrire</button>
        <button type="button" class="btn btn-primary">Connecter</button>
      </div>
      <button type="button" class="navbar-toggler" data-bas-toogle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toogle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
  </body>